.hero{
    position: relative;
    border-bottom: 3px solid white;
}

.hero-opacity{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    height: 100%;
    width: 100%;
    z-index: 5;
}

.hero-img{
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 3px solid white;
    width: 65rem;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 5px;
}

.hero-text > h1{
    color: white;
    padding: 0 1rem;
    font-size: 43px;
    text-decoration: underline;
}

.hero-text > p{
    color: white;
    padding: 0 2rem;
    font-size: 26px;
    line-height: 1.8rem;
}

.hero-text > ul{
    color: white;
    padding: 0 2rem;
    font-size: 20px;
    line-height: 1.8rem;
    list-style: none;
}

.premium-hood-text{
    color: red;
}

.hero-list-text{
    color: rgb(203, 10, 10);
    font-size: 20px;
}

@media only screen and (max-width : 425px){
    .hero{
    border-bottom: 3px solid white;
    position: relative;
    width: 100vw;
    height: 266vh;
}

.hero-opacity{
    background-color: rgba(0, 0, 0, 0.71);
    width: 100vw;
    height: 266vh;
    z-index: 5;
}

.hero-img{
    display: none;
}

.hero-text{
    position: absolute;
    top: 70rem;
    left: 13.2rem;
    height: 250vh;
    width: 90vw;
}

.hero-text > h1{
    color: white;
    padding: 0 2rem;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

.hero-text > p{
    color: white;
    padding: 0 2rem;
    font-size: 22px;
    line-height: 3rem;
}

.hero-text > ul{
    color: white;
    padding: 0 2rem;
    font-size: 22px;
    line-height: 1.8rem;
    list-style: none;
    line-height: 3rem;
}

.premium-hood-text{
    color: red;
}

.hero-list-text{
    color: rgb(203, 10, 10);
    font-size: 22px;
    line-height: 3rem;
}
}

@media only screen and (max-width : 375px){
    .hero{
    border-bottom: 3px solid white;
    position: relative;
    width: 100vw;
    height: 256vh;
}

.hero-opacity{
    background-color: rgba(0, 0, 0, 0.71);
    width: 100vw;
    height: 256vh;
    z-index: 5;
}

.hero-img{
    display: none;
}

.hero-text{
    position: absolute;
    top: 73rem;
    left: 12rem;
    height: 246vh;
    width: 90vw;
}

.hero-text > h1{
    color: white;
    padding: 0 2rem;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
}

.hero-text > p{
    color: white;
    padding: 0 2rem;
    font-size: 22px;
    line-height: 3rem;
}

.hero-text > ul{
    color: white;
    padding: 0 2rem;
    font-size: 22px;
    line-height: 1.8rem;
    list-style: none;
    line-height: 3rem;
}

.premium-hood-text{
    color: red;
}

.hero-list-text{
    color: rgb(203, 10, 10);
    font-size: 22px;
    line-height: 3rem;
}
}